.toDo {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.iconImage {
  width: 25px;
}
.image .hoverIcon {
  display: none;
}
.image:hover .icon {
  display: none;
}
.image:hover .hoverIcon {
  display: block;
}

