.toDo {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 30px;
}
.container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.iconImage {
  width: 25px;
}
.image .hoverIcon {
  display: none;
}
.image:hover .icon {
  display: none;
}
.image:hover .hoverIcon {
  display: block;
}

.checkList {
  display: flex;
  justify-content: space-around;
}
.clickCheckList {
  text-decoration: none;
  color: black;
}
